html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #121212;
  font-family: 'Gilroy' !important;
}

*,
*::before,
*::after {
  font-family: "Segoe UI";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pointer-none {
    pointer-events: none;
}