html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #121212;
  font-family: sans-serif !important;
}

*,
*::before,
*::after {
  font-family: "Segoe UI";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pointer-none {
  pointer-events: none;
}

.flex-1 {
  flex: 1;
}

h2 {
  color: orange;
  font-size: 8vw;
  text-align: center;
}

.page-wrapper {
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}